/XMLwriter/build/
/XMLwriter/nbproject/private/
/Serializacion2/dist/
/exa15brevep/nbproject/private/
/exa15brevep/build/
/Probas/nbproject/private/
/probas/nbproject/private/
/pcidades2/nbproject/private/
/pfungo/nbproject/private/
/pinmobilaria/nbproject/private/
/psecreto/nbproject/private/
/psecreto/build/
/Examen/nbproject/private/
/Examen/build/
